* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greeting-msg {
  color: #f0bb03;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Bree serif';
}
@media screen and (min-width: 768px) {
  .greeting-msg {
    font-size: 50px;
  }
  .description {
    font-size: 30px;
  }
}
.description {
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Bree serif';
}

.button {
  color: #1e293b;
  font-size: 12px;
  font-family: 'Bree serif';
  height: 30px;
  width: 70px;
  border-radius: 5px;
  border-width: 0px;
}
